.Container__Title {
  width: 40%;
  margin-top: 50px;
  margin-left: 100px;
}
.go_green {
  color: #829f82;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.Flex__Title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Title {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  width: 50%;
  color: #252e30;
}
.Describe {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 50%;
  color: #5a5a5a;
}
@media (max-width: 750px) {
  .Container__Title {
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
  }
  .Flex__Title {
    justify-content: flex-end;
    flex-direction: column;
  }
  .Title {
    font-size: 26px;
    width: 100%;
  }
  .Describe {
    width: 180%;
  }
}
.go_green {
  transform: rotate(270deg);
  width: fit-content;
  position: absolute;
  top: 290px;
  left: -135px;
}
